body {
  font-family: 'Oswald', 'Futura', sans-serif;
  margin: 0; 
  padding: 0;
}

#content {
  background-color: #4E5980;
  margin: 0 auto 0 auto;
  position: relative;
  text-align: center;
  max-width: 480px;
 }



h2 {
  color: #FFF4C2;
  font-size: 32px;
   padding-top: 20px;
}


ul {
  border:none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #FFF4C2;
  color: #303140;
  border-top: 1px solid #BFB791;
  border-bottom: 1px solid #807A61;
  font-size: 24px;
  letter-spacing: .05em;
  list-style-type: none;
  font-weight: bold;
  text-align: left;
  height: 50px;
  padding-left: 1em;
  padding-top: 10px;
}

input {
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

input.rounded:focus {
  border-color: #339933;
}

button {
  display: inline-block;
  padding: 6px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #303140;
  background-color: #FFE675;
  border: none;
  border-radius: 10px;
  box-shadow: 15px #666;
  box-shadow: 2px 2px 3px #666;

}














